@import "/styles/utils.scss";

.hamburger {
  @include nav-button-settings;
  @include breakpoints-down(sm) {
    @media (orientation: landscape) {
      padding-left: 1rem;
      color: goldenrod
    }
  }
  @include breakpoints-down(xs) {
    padding-left: 1rem;
  }
}

.drawer {
  @include breakpoints-down(sm) {
    @media (orientation: landscape) {
      &::before {
        content: "\00BB";
        font-size: 2.5rem;
        padding-right: 0.3rem;
        position: absolute;
        @include flex-vertical-align;
        justify-content: flex-end;
        color: rgba(200, 200, 200, 0.85);
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0);
        background: linear-gradient(90deg, 
          rgb(0, 0, 0, 0) 0%, 
          rgba(0, 0, 0, 0.07) 92%, 
          rgba(0, 0, 0, 0.15) 95%, 
          rgba(0, 0, 0, 0.25) 97%, 
          rgba(0, 0, 0, 0.60) 99%, 
          rgba(0, 0, 0, 0.75) 100%);
        z-index: 5;
        pointer-events: none;
      }
    }
  }
}

.fullList {
  width: 100%;
  @include flex-vertical-align;
  background-color: $theme-color;
  color: $primary-color;
  flex-direction: column;
  height: 40vh;
  @media (orientation: portrait) {
    height: 60vh;
    @include breakpoints-down(xs) {
      height: 75vh;
    }
  }
  @include breakpoints-down(sm) {
    @media (orientation: landscape) {
      height: 100vh;
      width: 85vw;
    }
  }
}
