@use 'sass:map';

// variants
$primary-color: #A8A8A8;
$theme-color: #ffffff;

$sans-serif-font: 'Open Sans', sans-serif;
$cursive-font: 'Yellowtail', 'Courier New', Courier, monospace;
$monospace-font: 'Courier New', Courier, monospace;

$mild-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
$layered-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);


// the :export directive is for webpack
// export any variables you want to consume with js
// this is actually not being in use, just a placeholder for future
:export {
  themecolor: $theme-color;
  primarycolor: $primary-color;
}

// https://material-ui.com/customization/breakpoints/
// value         |0px     600px    960px    1280px   1920px
// key           |xs      sm       md       lg       xl
// screen width  |--------|--------|--------|--------|-------->
// range         |   xs   |   sm   |   md   |   lg   |   xl

$bp-up: (
    "xs": 0px,
    "sm": 601px,
    "md": 961px,
    "lg": 1281px,
    "xl": 1921px,
) !default;

$bp-down: (
    "xs": 600px,
    "sm": 960px,
    "md": 1280px,
    "lg": 1920px,
    "xl": 100000px,
) !default;

// theme.breakpoints.up(key)
@mixin breakpoints-up($key) {
   @media (min-width: #{map.get($bp-up, $key)}) {
       @content;
   }
}

// theme.breakpoints.down(key)
@mixin breakpoints-down($key) {
   @media (max-width: #{map.get($bp-down, $key)}) {
       @content;
   }
}

// theme.breakpoints.between(start, end)
@mixin breakpoints-between($start, $end) {
   @media (min-width: #{map.get($bp-up, $start)}) and (max-width: #{map.get($bp-down, $end)}) {
       @content;
   }
}


/** ------------------------
Define common used flexbox configs here
    https://flexbox.help/
    http://asciiflow.com/
    ------------------ */

/** flexbox with vertical and horizontal centering
  @include flex-center;
  +-------------------+
  |                   |
  |     +---+---+     |
  |     |   |   |     |
  |     +---+---+     |
  |                   |
  +-------------------+
  
  @include flex-center;
  flex-direction: column;
  +-------------------+
  |                   |
  |     +-------+     |
  |     +-------+     |
  |     +-------+     |
  |                   |
  +-------------------+
*/

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** flexbox centered row spaced

  @include flex-center-spaced;
  +-------------------+
  |                   |
  |   +---+   +---+   |
  |   |   |   |   |   |
  |   +---+   +---+   |
  |                   |
  +-------------------+

  @include flex-center-spaced;
  flex-direction: column;
  +-------------------+
  |                   |
  |     +-------+     |
  |     +-------+     |
  |                   |
  |     +-------+     |
  |     +-------+     |
  |                   |
  +-------------------+
*/

@mixin flex-center-spaced {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/** flexbox centered column full width
  @include flexbox-column-full-width;
  +-------------------+
  |                   |
  +-------------------+
  |      Box 1        |
  +-------------------+
  |      Box 2        |
  +-------------------+
  |                   |
  +-------------------+
  */

@mixin flex-column-full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

@mixin page-settings {
  margin-top: 16rem;
  height: 1024px;
  width: 100%;
  overflow: hidden;
  box-shadow: $mild-shadow;
  position: relative;
}